@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --font-size-100: 0.5rem;
  --font-size-200: 1rem;
  --font-size-300: 1.5rem;
  --font-size-400: 2rem;
  --font-size-500: 2.5rem;
  --font-size-600: 3rem;
  --font-size-700: 3.5rem;
  --font-size-800: 4rem;
  --font-size-900: 4.5rem;

}